.hero-unit {
	padding-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 5px;
  	background: rgba(200, 200, 200, 0.75);
  	color: black;
  	margin-bottom: 30px;
  	width: 40%;
  	font-size: 18px;
  	font-weight: 200;
  	line-height: 30px;
  	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          border-radius: 6px;
}

#profile {
	float: right;
	height: 250px;
	width: 329px;
	margin-top: -268px;
	margin-right: 100px;
	border-radius: 3px;
	opacity: 1.0;
}

footer {
	background: rgba(200, 200, 200, 0.75);
	color: black;
	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          border-radius: 6px;
    padding-top: 10000px;
    position: relative;
    clear: both;
}

#indexfoot {
	height: 80px;
	bottom: -20px;
	padding-top: 15px;
	background: rgba(200, 200, 200, 0.75);
}