/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#herotext {
	margin-top: -13px;
}

.btn-medium {
	font-size: 16px;
	padding-top: 7px;
	padding-bottom: 7px;
}

#location {
	margin-left: 100px;
}

.hero-unit {
	padding: 60px;
  	background: rgba(200, 200, 200, 0.8);
  	color: black;
  	width: 70%;
  	margin-bottom: 30px;
  	font-size: 18px;
  	font-weight: 200;
  	line-height: 30px;
  	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          border-radius: 6px;
}


.span3 {
  	background: rgba(200, 200, 200, 0.75);
	color: black;
	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          border-radius: 6px;
}

#profile {
	float: right;
	height: 200px;
	width: 230px;
	margin-top: -53px;
	margin-right: 7px;
	border-radius: 3px;
	opacity: 1.0;
}

body {
  background-image:url('images/grand_canyon.jpg');
  background-size: cover;
}

.row {
	color: black;
}

footer {
	background: rgba(200, 200, 200, 0.75);
	color: black;
	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          border-radius: 6px;
    margin-right: 72%;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.span3 {
	padding-left: 40px;
	padding-right: 40px;
}