.hero-unit {
	padding: 60px;
  	background: rgba(200, 200, 200, 0.75);
  	color: black;
  	width: 80%;
  	margin-bottom: 30px;
  	font-size: 18px;
  	font-weight: 200;
  	line-height: 30px;
  	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          border-radius: 6px;
}

#borderposter {
	float: left;
	width: 400px;
	height: 300px;
	position: relative;
}

#bordertrailer {
	float: right;
	position: relative;
}

.mediaitem {
	padding: 20px;
	width: 880px;
	border-radius: 6px;
	margin-top: 10px;
	background: rgba(88,88,88,0.7);
}

#borderposter {
	float: left;
	padding-right: 10px;
}

#bordermov {
	float: right;
}

.mediatext {
	color: white;
	margin-top: 12px;
}

