.sti-menu{
    width:1010px;
    margin:60px auto 0 auto;
    margin-top: -30px;
    padding-bottom: 10px;
}

.sti-menu li{
    float:left;
    width:200px;
    height:300px;
    margin:1px;
}

.sti-menu li a{
	border-radius: 3px;
    display:block;
    overflow:hidden;
    background:#E0E0E0;
    text-align:center;
    height:100%;
    width:100%;
    position:relative;
    -moz-box-shadow:1px 1px 2px #ddd;
    -webkit-box-shadow:1px 1px 2px #ddd;
    box-shadow:1px 1px 2px #ddd;
}

.sti-menu li a h2{
    color:#000;
    font-family: 'Wire One', arial, serif; 
    font-size:36px;
    font-weight:bold;
    text-transform:uppercase;
    position:absolute;
    padding:10px;
    padding-bottom:5px;
    width:180px;
    top:140px;
    text-shadow: 0px 1px 1px black;
}

.sti-menu li a h3{
    font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif; 
    font-size:14px;
    font-style:italic;
    color: #111;
    position:absolute;
    top:228px;
    width:182px;
    padding-left:10px;
    padding-right:10px;
}

.sti-icon{
    width:106px;
    height:98px;
    position:absolute;
    background-position:top left;
    background-repeat:no-repeat;
    background-color:transparent;
    left:50px;
    top:30px;
}

.sti-icon-resume{
    background-image:url(images/resumeB.png);
    margin-left:5px;
}
.sti-icon-aboutme{
    background-image:url(images/manB.png);
    margin-left:10px;
}
.sti-icon-media{
    background-image:url(images/mediaB.png);
}
.sti-icon-code{
    background-image:url(images/compB.png);
}
.sti-icon-contact{
    background-image:url(images/mobilephoneB.png);
    margin-left: 20px;
}

