body {
	background-color: #006600;
}

h2 {
	text-align: center;
	font-family: sans-serif;
}

.back_panel {
	margin-left: 5%;
	padding-left: 5%;
	padding-top: 5%;
	width: 80%;
	height: 250px;
	background-color: #FF9966;
	border-radius: 7px;
}

#postings {
	margin-top: 10%;
	width: 90%;
	text-align: right;
}

button {
	width: 10em;
	height: 3em;
	border-radius: 0.4em;
}