body {
	/*background-image: url('../photos/oxspringfling13b.jpg');
	background-size: 100%;*/
	background-color: #ffffff;
}

@font-face
{
	font-family: GeoSansLight;
	src: url('css_resources/fonts/GeosansLight-Oblique.ttf');
}

.banner {
	height: 20%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 0.5em; 
	border-bottom-style: groove;
	border-bottom-color: #760303;
	background-color: white;
	z-index: 1001;
}

.banner h3 {
	float: left;
	margin-top: 0%;
	margin-left: 6%;
	font-size: 4em;
	font-family: GeoSansLight, verdana;
	color: #630711;
}

#cornerlogo {
	float: left;
	margin-left: 4%;
	padding: 0.2%;
	height:5em;
	width: 9em;
}

#showMenu {
	float: left;
	position: relative;
	width: 240px;
	height: 40px;
	/*margin-left: -91.3%;*/
	margin-top: -4.71%;
	background-color: #760303;
	color: #ffffff;
	padding-left: 1.4em;
	padding-right: 1em;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	font-style: normal;
	border-style: none;
	z-index: 1002;
}

#showMenu:active {
	background: #FF5757;
	color: #f4b0b0;
	outline: none;
}

.italic-text {
	font-style: italic;
}

