body {
	position: relative;
	background-color: #66FF99;
}

h2 {
	text-align: center;
	font-family: sans-serif;
}

.back_panelL {
	float: left;
	margin-top: 0%;
	margin-left: 5%;
	width: 46%;
	height: 250px;
	background-color: #00CCFF;
	border-radius: 7px;
}

.back_panelR {
	margin-top: 5%;
	margin-left: 45%;
	margin-right: 5%;
	width: 47%;
	height: 250px;
	background-color: #00CCFF;
	border-radius: 7px;
}

.icon {
	width: 65px;
	height: 65px;
	font-size: 0.6em;
	font-family: sans-serif;
	text-align: center;
	box-shadow: 0px 0px 5px #000000;
	background-color: #CC0033;
	border-radius: 7px;
}

#postride {
	float: left;
	margin-left: 20%;
	margin-top: 20%;
	margin-bottom: 5%;
}

#searchride {
	float: left;
	margin-left: 15%;
	margin-top: 20%;
	margin-bottom: 5%;
}

#profile {
	float: left;
	margin-left: 20%;
	margin-top: 30%;
	margin-bottom: 5%;
}

#settings {
	float: left;
	margin-left: 15%;
	margin-top: 30%;
	margin-bottom: 5%;
}

#profile h3 {
	margin-top: 40%;
}

#settings h3 {
	margin-top: 40%;
}