body {
	background-color: #006600;
}

h2 {
	text-align: center;
	font-family: sans-serif;
}

h3 {
	text-align: center;
	font-family: sans-serif;
}

.back_panel {
	margin-left: 5%;
	padding-left: 5%;
	padding-top: 5%;
	width: 80%;
	height: 250px;
	background-color: #FF9966;
	border-radius: 7px;
}

button {
	width: 7em;
	height: 4em;
	border-radius: 0.2em;
}

#b1 {
	float: left;
}

#b2 {
	margin-left: 20%;
}